.leg {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-height: 60px;
  min-width: fit-content;
  margin-bottom: 16px;
}

.airlineLogo {
  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px;
  margin: 4px;
  border-radius: 4px;
}
